@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


#menu {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img{
    width: 80px; 
}

#menu .user-icon {
    width: 30px; 
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu li {
    position: relative;
}

#menu a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
}

#menu ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: white;
}

#menu ul ul li {
    width: 200px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#menu ul ul li a {
    padding: 10px 15px;
}

#menu li:hover > ul {
    display: block;
}

/* Estilos para o ícone do menu */
.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #menu {
        flex-direction: column;
    }

    #menu .logo {
        order: -1;
        margin-right: auto;
        margin-left: 10px;
    }

    #menu .user-icon {
        margin-left: auto;
    }

    #menu ul {
        justify-content: flex-start;
        width: 100%;
    }

    #menu ul:not(.active) {
        display: none;
    }

    #menu ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
    }

    /* Mostrar o ícone do menu */
    .menu-icon {
        display: block;
    }
}

.user-icon-wrapper {
    position: relative;
}

.user-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 0;
    list-style: none;
}

.user-menu.active {
    display: block;
}

#menu {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    width: 80px; 
}

#menu .user-icon {
    width: 30px; 
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu li {
    position: relative;
}

#menu a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
}

#menu ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: white;
}

#menu ul ul li {
    width: 200px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#menu ul ul li a {
    padding: 10px 15px;
}

#menu li:hover > ul {
    display: block;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #menu {
        flex-direction: column;
    }

    #menu .logo {
        order: -1;
        margin-right: auto;
        margin-left: 10px;
    }

    #menu .user-icon {
        margin-left: auto;
    }

    #menu ul {
        justify-content: flex-start;
        width: 100%;
    }

    #menu ul:not(.active) {
        display: none;
    }

    #menu ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
    }

    .menu-icon {
        display: block;
    }
}

.user-icon-wrapper {
    position: relative;
}

.user-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 0;
    list-style: none;
}

.user-menu.active {
    display: block;
}

.tabela-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.table-container {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    overflow-x: auto;
}

table.retangulo2 {
    width: 95%;
    border-collapse: separate;
    border-spacing: 4px;
}

thead .retangulo3 th {
    padding: 8px;
    text-align: left;
}

tbody .retangulo4 td {
    padding: 8px;
}

.status {
    width: 16px;
    height: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para os campos do formulário */
form label {
    display: block;
}

form input[type="text"],
form input[type="date"],
form select,
form textarea,
form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'poppins', sans-serif; /* Aplicando a fonte Poppins */
}

/* Estilos para os botões */
form button {
    padding: 8px 16px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilização específica para os botões de cancelar e cadastrar */
form button[type="button"] {
    background-color: red;
    color: white;
}

form button[type="submit"] {
    background-color: green;
    color: white;
}

.non-editable {
    margin-bottom: 10px;
}

.non-editable-field {
    width: calc(50% - 20px);
    min-height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    user-select: none; /* Evita a seleção de texto no campo */
    cursor: not-allowed; /* Altera o cursor para indicar que não é editável */
}


form h1 {
    font-size: 31px;
    margin-bottom: 18px;
}

/* Estilos para o campo de e-mail */
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'poppins', sans-serif;
}

input[type="number"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'poppins', sans-serif;
}
/* Estilos para o campo de telefone */
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'poppins', sans-serif;
}
